apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
#nameSuffix: -dev
resources:
- petclinic-deployment.yaml
- petclinic-service.yaml
replicas:
- count: 1
  name: petclinic-deployment
images:
- name: ibuchh/petclinic-dockercon21
#   newTag: 1.3
