---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  namespace: staging
  annotations:
    fluxcd.io/tag.petclinic: semver:~1
    fluxcd.io/automated: 'true'
spec:
  selector:
    matchLabels:
      app: petclinic
  replicas: 3
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        image: ibuchh/petclinic-dockercon21:1.3
        ports:
        - containerPort: 80
        imagePullPolicy: Always
