apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
spec:
  selector:
    matchLabels:
      app: petclinic
  replicas: 1 
  template: 
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        image: ibuchh/petclinic-spinnaker-jenkins
        ports:
        - containerPort: 8080
        imagePullPolicy: Always